# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Env
.env
.env.local
.env.*.local

# Build / output
/dist
/build

# Cache
/.parcel-cache
/.cache

# IDEs
.vscode/
.idea/

# coverage
/coverage/
